@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-brand-pink: #f7666f;
  --color-brand-blue-transparent: #406aff;
  --color-brand-dark: #1a202c;
  --color-brand-gray: #4a5568;
  --color-brand-light: #fafafa;
  --color-bg-light: #f7f7fa;
  --color-brand-blue: #3d63ea;
  --color-grad-pink: #f76680;
  --color-grad-purple: #57007b;
  --color-light-black: #2d3748;
  --color-light-gray: #a0aec0;
  --color-medium-gray: #718096;
}

body {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideIn {
  animation: fadeSlideIn 0.6s ease-out forwards;
  animation-delay: 0.1s;
}

.bar {
  position: relative;
}

.bar::before {
  content: "";
  position: absolute;
  bottom: -53px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 33px;
  background: linear-gradient(225deg, #f76680 0%, #57007b 100%);
}

.bar-top {
  position: relative;
}

.bar-top::before {
  content: "";
  position: absolute;
  top: -53px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 33px;
  background: linear-gradient(225deg, #f76680 0%, #57007b 100%);
}
